.characters-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  overflow-y: scroll;
  height: 38.3em;
}

.main-page {
  display: grid;
  grid-template-columns: 1fr 4fr;
  border: 1px solid teal;
  background-color: black;
  section:first-child {
    border-bottom: 1px solid #e0ab22;
    background-color: teal;
  }
  section:nth-child(2) {
    h1 {
      text-align: center;
      color: #edbf47;
      font-size: 3em;
      font-weight: 800;
      margin: -0.8px;
    }
  }
}

.no-results {
  height: 10em;
  width: 15em;
  border: 2px solid #e0ab22;
  border-radius: 1em;
  text-align: center;
  h2 {
    font-size: 1.5em;
    color: #edbf47;
  }
  button {
    margin: 0em 2em;
    height: 3em;
    width: 10em;
    border-radius: 1em;
    border: 0.1em solid #e0ab22;
    background-color: teal;
    color: #edbf47;
    font-size: 1em;
    font-weight: 900;
    font-family: 'Indie Flower', cursive;
    &:hover {
      background-color: #22b58b;
    }
  }
}

.characters-section {
  border-bottom: 1px solid teal;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-track {
  background: teal;
}
