.character-location-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  border: 1px solid black;
  margin: 2em;
  width: 60em;
  height: 8.2em;
  overflow-y: scroll;
}
